$backgroundColor: rgb(207, 225, 248);
$navbar-color: rgba(255,255,255,0.87);
$navbar-color-bgcolor: rgb(21,101,192);
$navbar-height: 45px;
$sidebar-left-width: 300px;
$sidebar-right-width: 250px;
$sidebar-right-business-actions-height:170px;
